
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

}
.form-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-div form input,button{
  padding: 5px 18px;
}
a{
  color: black;
 
}

